$background: #edc3ca;
$light-pink: #d48a99;
$purple: #503f8b;
$lilac: #a95a86;
$turquoise: #3cb196;
$white: #ffffff;
$black: #475569;

$box-shadow: 0 0 1px 0 rgba(9, 30, 66, 0.31), 0 3px 8px 0 rgba(9, 30, 66, 0.16);

$border: #dbeafe;
$border-hover: #83b3d3;
