.main-page__title {
  margin: 50px 0;
  text-align: center;
}

.employees-list {
  padding-bottom: 50px;
}

.employees-list__wrapper {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 10px;
  max-width: 750px;
}

.employees-list__title {
  margin: 50px 0 15px 0;
}
